
input:focus {
  outline: none;
}

.footer {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  color: #838383;
}

.searchbar-container {
  font-size: larger;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.searchbar{
  width: 400px;
  border: 0;
  border-radius: 0 10px  10px 0;
}

.searchIcon {
  background-color: white;
  color: #141414;
  padding: 10px;
  border: 0;
  border-radius: 10px 0  0 10px;
}

.page {
  background: #1a1a1a;
  color: white;
  min-height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-start;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.icon {
  padding: 15px;
}

.sidebar {
  font-size: 1.5rem;
  min-width: 16rem;
  display: flex;
  position: sticky;
  flex-direction: column;
  padding: 0 1rem;
  height: 100vh;
  border-right-style: solid;
  border-right-color: #838383;
  border-right-width: 1px;
  background: #141414;
}

.navbox {
  padding: 20px;
}

.navbox:hover {
  transition: 100ms;
  transform: translateX(10px)
}

.normalLink {
  text-decoration: none;
  color: #838383;
}

.activeLink {
  text-decoration: none;
  color: white;
}

.home {
  width: 100%;
  overflow: hidden;
}

.component {
  padding: 10px;
  overflow: hidden;
  width: 100%;
}

.trendingBox {
  min-width: 780px;
  height: 438px;
  margin-left:15px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-repeat: no-repeat;
  background-size: auto;
}

.trendingContainer {
  display: flex;
  overflow: scroll;
  width: 100%;
}

.titleBox {
  width: 100%;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.548);
}

.posterBox{
  min-width: 185px;
  height: 277.5px;
  margin-left:15px;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.posterBox:hover{
  transition: 200ms;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.651);
}

.posterBox:hover > .movie-details {
  visibility: visible;
}

.movie-details {
  font-size: 1rem;
  font-weight: 700;
  visibility: hidden;
}